.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border:blanchedalmond;
    border-radius: 2px;
    margin: 0 auto;
    position:static;
    height:100vh;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}


.about h1{
    
    
    font-size: 10;
    font-family: cursive;
    color: black;

    margin-left: 35%;
    
    

}

.content-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin:3% 10% 3% 50%;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    height: 90 vh;


}
@media screen and (max-width: 375px){
.content-container{
        
        margin-right:30% ;
        justify-content: center;
        display: flex;
        text-align: center;
    }
    
    }
    .about {
        animation: scroll 60s linear infinite;
        background: url("../../assets//Home/about.jpg"), rgb(240, 226, 226);
    
        height: 100vh;
        min-width: 360px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        perspective: 1000px;
        perspective-origin: 50% 50%;
        
      }
      
      @keyframes scroll {
         100%{
          background-position:-1000px -3000px ;
        }
      }
      
      @media (prefers-reduced-motion) {
        .wrapper {
          animation: scroll 200s linear infinite;
        }
      }
      
      @media (min-width: 670px) {
        .title {
          font-size: 5rem;
        }
      }