.footer{
    position:relative;
    width:100%;
    
    background-color:rgb(43, 12, 51);
    min-height:50px;
    padding:20px 50px;
    text-align: center;
    justify-content: center;
}
.footer-content ul li a i{
    list-style: none;
    display: inline-block;

}
.footer-content ul li a{
    font-size: 2em;
    color: white;
    padding: 10px;
    display: inline-block;
    transition: 0.5s;
    opacity: 0.75;
}
.footer-content ul li a:hover{
transform:translate(-10px);
opacity:1;
}
.socials{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-wrap: wrap;
    list-style: none;
}
.footer-bottom{
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 0 10px;

    
}
