.container-border{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center ;

    margin:5% 15%;
    padding:0 15%;
    position:static;
    height: 70vh;
    background:rgba(255,255,255,0.1);
    box-shadow:0 25px 45px rgba(0,0,0,0.1);
    border:2px solid rgba(255,255,255,0.25);
    border-right: 2px solid rgba(255,255,255,0.1);
    border-bottom: 2px solid rgba(255,255,255,0.1)
    
}
.container-border h1{
   padding-top: 15%;
   margin-right: 10%;
    text-align: center;
    color: white;
    
}
.row{
    margin:15px 70px 90px 25px;
}
#form-btn{
    margin-top: 25px;
}
.body{
    background-image: url("../../assets//Home/ContactBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2% 0%;
}
.alert-success{
    z-index: 1;
    background: #6bdf86;
    font-size:18px;
    padding:20px 40px;
    min-width:420px;
    position:fixed;
    top:10px;
    right:0;
    border-left:8px solid #057e2d;
    border-radius:4px;
}
.alert-error{
    z-index: 1;
    background:#fae08d;
    font-size:18px;
    padding:20px 40px;
    min-width:420px;
    position:fixed;
    top:10px;
    right:0;
    border-left:8px solid #d69213;
    border-radius:4px;
}
label{
    color: white;
}
#form-btn{
    justify-content: center;
    text-align: center;
    padding-bottom: 6%;
    margin-left: 35%;
}