@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.nav-wrapper ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style-type:none;
    justify-content:space-around;
    background-color:white;
    color:black;
    height: 50px;
    align-items: center;
    padding: 0 10px 0 10px;

}
.nav-wrapper ul a{
    margin: 10px 0 10px 0;
    
    position:relative;
    text-decoration: none;
    color:black;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;;
    list-style: none;
}
.nav-wrapper{
    font-family: 'Vujahday Script',sans-serif;
    position: fixed;
    width:100%;
    transition: 0.6s;
    z-index:100000;
    
    
    
}
.nav-wrapper ul a li{
position: relative

}
@media screen and (max-width: 375px) {
    
     .nav-wrapper {
        width:100%;
        
       
  }
  .nav-wrapper ul{
           
    padding: 0 10px 0 10px;
}
}
